In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set() 
from IPython.display import display

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
all_data = [titanic]

In [4]:
invalid_ages = titanic['Age'] >= 100
titanic[invalid_ages]

,PassengerId,Survived,PassengerClass,Sex,Age,SiblingSpouse,ParentChild
54,55,0,2,male,221,0.0,0

In [5]:
round(titanic['Age'].mean())
titanic = titanic.replace(221, int(round(titanic['Age'].mean())))

In [6]:
titanic

,PassengerId,Survived,PassengerClass,Sex,Age,SiblingSpouse,ParentChild
0,1,0,3,male,22,1.0,0
1,2,1,1,female,38,1.0,0
2,3,1,3,female,26,0.0,0
3,4,1,1,female,35,1.0,0
4,5,0,3,male,35,0.0,0
5,6,0,1,male,54,0.0,0
6,7,0,3,male,2,3.0,1
7,8,1,3,female,27,0.0,2
8,9,1,2,female,14,1.0,0
9,10,1,3,female,4,1.0,1
10,11,1,1,female,58,0.0,0
11,12,0,3,male,20,0.0,0
12,13,0,3,male,39,1.0,5
13,14,0,3,female,14,0.0,0
14,15,1,2,female,55,0.0,0
15,16,0,3,male,2,4.0,1
16,17,0,3,female,31,1.0,0
17,18,0,2,male,35,0.0,0
18,19,1,2,male,34,0.0,0
19,20,1,3,female,15,0.0,0
20,21,1,1,male,28,0.0,0
21,22,0,3,female,8,3.0,1
22,23,1,3,female,38,1.0,5
23,24,0,1,male,19,3.0,2
24,25,0,1,male,40,0.0,0
25,26,0,2,male,66,0.0,0
26,27,0,1,male,28,1.0,0
27,28,0,1,male,42,1.0,0
28,29,0,3,male,21,0.0,0
29,30,0,3,female,18,2.0,0
...,...,...,...,...,...,...,...
33,34,1,2,female,3,1.0,2
34,35,1,3,female,19,0.0,0
35,36,0,3,female,18,1.0,0
36,37,0,3,male,7,4.0,1
37,38,0,3,male,21,0.0,0
38,39,1,1,female,49,1.0,0
39,40,1,2,female,29,1.0,0
40,41,0,1,male,65,0.0,1
41,42,1,2,female,21,0.0,0
42,43,0,3,male,29,0.0,0
43,44,1,2,female,5,1.0,2
44,45,0,3,male,11,5.0,2
45,46,0,3,male,22,0.0,0
46,47,0,1,male,45,1.0,0
47,48,0,3,male,4,3.0,2
48,49,1,2,female,29,0.0,0
49,50,0,3,male,19,0.0,0
50,51,1,3,female,17,4.0,2
51,52,0,3,male,26,2.0,0
52,53,0,2,male,32,0.0,0
53,54,0,3,female,16,5.0,2
54,55,0,2,male,29,0.0,0
55,56,0,3,male,26,1.0,0
56,57,1,3,male,32,0.0,0
57,58,0,3,male,25,0.0,0
58,59,1,2,male,1,0.0,2
59,60,1,3,female,30,0.0,0
60,61,0,3,male,22,NaN,0
61,62,1,3,male,1,0.0,0
62,63,0,1,male,28,0.0,0

In [7]:
for dataset in all_data:
    dataset.loc[ dataset['Age'] <= 12, 'Age'] = 0,
    dataset.loc[(dataset['Age'] > 12) & (dataset['Age'] <= 20), 'Age'] = 1,
    dataset.loc[ dataset['Age'] > 20, 'Age'] = 2

In [8]:
sex_mapping = {"male": 0, "female": 1}
for dataset in all_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [9]:
for dataset in all_data:
    dataset.loc[ dataset['SiblingSpouse'] == 0, 'SiblingSpouse'] = 0,
    dataset.loc[ dataset['SiblingSpouse'] > 0, 'SiblingSpouse'] = 1,
    dataset.loc[ dataset['ParentChild'] == 0, 'ParentChild'] = 0,
    dataset.loc[ dataset['ParentChild'] > 0, 'ParentChild'] = 1,

In [10]:
titanic.isnull().sum()

PassengerId       0
Survived          0
PassengerClass    0
Sex               0
Age               0
SiblingSpouse     1
ParentChild       0
dtype: int64

In [11]:
# Deal with missing data on "SiblingSpouse"
titanic = titanic.fillna(titanic.mean())

In [12]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

In [13]:
target = titanic['Survived']
data = titanic.drop('Survived', axis=1)

In [14]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=(63-40)/63, random_state=1) # 70% training and 30% test

In [15]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

ValueError: could not convert string to float: 'female'

### Evaluating Model

After the prediction , we make a confusion matrix based on the prediction result and target.

In [ ]:
# making a confusion metrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

The accuracy fo the decision tree model:

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Now we got a classification rate of 72.5%. We can improve this accuracy by tuning the parameters in the Decision Tree Algorithm.

### Visualization

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

In [ ]:
dot_data = StringIO()
feature_cols = list(data.columns.values)
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('titanic_dt.png')
Image(graph.create_png())